* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
a{
    text-decoration: none;
}
/*Header section*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.logo {
    color: #40c27a;
    font-family: "Rowdies", serif;
    font-weight: 700;
    font-style: normal;
    text-shadow: 0 0 10px rgba(42, 112, 74, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
}
header .container {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: #000;
    border-bottom: 1px solid #8080803d;
}
.navigations{
    align-self: center;
}
.nav-bars{
    color: white;
}
.navigations ul{
    list-style: none;
    display: flex;
}
.navigations li{
    position: relative;
    margin: 0 20px;
    font-family: "Rowdies", serif;
    font-weight: 400; 
    font-style: normal; 
    font-size: 0.9rem; 
}
.navigations li:hover::after {
    position: absolute;
    content: '';
    background-color: #40c27a;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -5px;
    animation: line 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
}
@keyframes line {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/* About section */
.about .container {
    padding: 150px 30px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.my-self {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
h1 {
    color: #fff;
    font-family: "Rowdies", serif;
    font-weight: 700;
    font-style: normal;
    word-spacing: 8px;
    font-size: 25px;
    margin: 10px 0;
}
.color{
    background: linear-gradient(45deg, #40c27a, #9ccfc5);
    background-clip: text;
    color: transparent;
}
.about p{
    color: white;
    font-family: "Monomakh", serif;
    font-weight: 400;
    font-style: normal;
}
.image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid #40c27a;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.hiring {
    display: flex;
    align-items: center;
}
.hiring button {
    font-family: "Monomakh", serif;
    color: white;
    background-color: #40c27a;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
    padding: 10px 20px;
    outline: none;
    border: none;
    margin: 10px;
    border-radius: 40px;
    cursor: pointer;
}
.hiring button:hover {
    border: 1px solid #40c27a;
    background-color: #000;
}
#git, #x, #fb {
    border: 2px solid #40c27a;
    border-radius: 50%;
    padding: 5px;
    margin: 0 5px;
}
#insta {
    border: 2px solid #40c27a;
    border-radius: 50%;
    padding: 5px 6px;
    margin: 0 5px;
}
#insta:hover{
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
    transform: scale(1.2);
}
#fb:hover{
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
    transform: scale(1.2);
}
#x:hover{
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
    transform: scale(1.2);
}
#git:hover{
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
    transform: scale(1.2);
}

/* skills section */
.skills .container {
    margin: 70px 0 35px 0;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading {
    color: #40c27a;
    font-family: "Rowdies", serif;
    font-weight: 700;
    font-style: normal;
}
.skillsBox {
    width: 95%;
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}
.technical , .professional {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technical h2 {
    color: #40c27a;
    font-family: "Rowdies", serif;
    font-size: medium;
    text-decoration: underline;
}
.professional h2 {
    color: #40c27a;
    font-family: "Rowdies", serif;
    font-size: medium;
    text-decoration: underline;
}
.box {
    margin: 20px 0;
    width: 100%;
}
.skills h3 {
    color: white;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.measure {
    margin: 30px 0;
}
.progress {
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 5px 0;
}
.html {
    position: relative;
    background-color: #40c27a;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
    width: 95%;
    display: block;
    height: 100%;
}
.css {
    position: relative;
    background-color: #40c27a;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
    width: 85%;
    display: block;
    height: 100%;
}
.js {
    position: relative;
    background-color: #40c27a;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
    width: 70%;
    display: block;
    height: 100%;
}
.react {
    position: relative;
    background-color: #40c27a;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
    width: 80%;
    display: block;
    height: 100%;
}
.node {
    position: relative;
    background-color: #40c27a;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
    width: 65%;
    display: block;
    height: 100%;
}
.mongo {
    position: relative;
    background-color: #40c27a;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
    width: 75%;
    display: block;
    height: 100%;
}
.html::after {
    position: absolute;
    content: '95%';
    color: #fff;
    background-color: #40c27a;
    padding: 0 4px;
    right: 0;
    top: -25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
}
.css::after {
    position: absolute;
    content: '85%';
    color: #fff;
    background-color: #40c27a;
    padding: 0 4px;
    right: 0;
    top: -25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
}
.js::after {
    position: absolute;
    content: '70%';
    color: #fff;
    background-color: #40c27a;
    padding: 0 4px;
    right: 0;
    top: -25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
}
.react::after {
    position: absolute;
    content: '80%';
    color: #fff;
    background-color: #40c27a;
    padding: 0 4px;
    right: 0;
    top: -25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
}
.node::after {
    position: absolute;
    content: '65%';
    color: #fff;
    background-color: #40c27a;
    padding: 0 4px;
    right: 0;
    top: -25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
}
.mongo::after {
    position: absolute;
    content: '75%';
    color: #fff;
    background-color: #40c27a;
    padding: 0 4px;
    right: 0;
    top: -25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
}

.circular{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
}
.circle1, .circle2, .circle3, .circle4 {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle1 div{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(#40c27a 80%, #000 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #40c27a;
    border: 2px solid #40c27a;
    margin: 25px 0;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
}
.circle2 div{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(#40c27a 90%, #000 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #40c27a;
    border: 2px solid #40c27a;
    margin: 25px 0;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
}
.circle3 div{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(#40c27a 65%, #000 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #40c27a;
    border: 2px solid #40c27a;
    margin: 25px 0;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
}
.circle4 div{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(#40c27a 70%, #000 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #40c27a;
    border: 2px solid #40c27a;
    margin: 25px 0;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
}
.circular span {
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
}

/* project section */
.projects .container {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project {
    position: relative;
    width: 300px;
    height: 180px;
    margin: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project img {
    width: 100%;
    border: 4px solid #40c27a;
    transition: 0.2s ease-in-out;
} 
.project p {
    position: absolute;
    width: 85%;
    padding: 10px 5px;
    color: #fff;
    font-family: "Monomakh", serif;
    font-weight: 400;
    font-style: normal;
    display: none;
    background-color: #40c27b9b;
    border-radius: 20px;
    text-align: center;
}   
.project img:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
}
.project:hover .detail {
    display: block;
}


/* resume section */
.resume .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resume .container2 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    padding: 0 25px;
}
.education, .experience {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid #40c27a;
}

.resume h2 {
    color: #40c27a;
    font-family: "Rowdies", serif;
    font-size: medium;
    text-decoration: underline;
}
.resume h4 {
    color: #40c27a;
    font-family: "Monomakh", serif;
}
.resume span {
    color: #a2a4a2;
    font-family: "Monomakh", serif;
}
.resume p {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.education div {
    position: relative;
    width: 400px;
    margin: 20px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
}
.education div::after {
    position: absolute;
    content: '';
    background-color: #40c27a;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 0;
    left: -45px;
}
.experience div {
    position: relative;
    width: 400px;
    margin: 20px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
}
.experience div::after {
    position: absolute;
    content: '';
    background-color: #40c27a;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 0;
    left: -45px;
}

.resume-btn {
    color: white;
    background-color: #40c27a;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
    padding: 15px 20px;
    margin: 25px 0;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}
.resume-btn:hover {
    transform: scale(1.1);
}
.contact .container {
    margin-top: 20px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-address {
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.address, form {
    width: 400px;
    display: flex;
    flex-direction: column;
}
.contact span {
    color: #40c27a;
    font-family: "Rowdies", serif;
}
.contact p {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.address-list {
    display: flex;
    margin: 20px;
}
.address-list i {
    border: 1px solid #40c27a;
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    margin-right: 15px;
}
form {
    align-items: center;
}
input {
    width: 90%;
    height: 35px;
    outline: none;
    background-color: #000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #40c27a;
    margin: 15px;
    color: #fff;
}
input:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #40c27a;
}
input::placeholder {
    color: #40c27a;
    font-size: 16px;
    font-weight: 400;
}
textarea {
    margin: 15px;
    width: 90%;
    background-color: #000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #40c27a;
    padding: 10px;
    resize: none;
    color: #fff;
}
textarea::placeholder {
    color: #40c27a;
    font-size: 16px;
    font-weight: 400;
}
form button {
    margin: 10px;
    padding: 15px 20px;
    background-color: #40c27a;
    outline: none;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
form button:hover {
    box-shadow: 0 0 10px rgba(64, 194, 122, 0.8), 0 0 20px rgba(64, 194, 122, 0.6);
    transform: scale(1.1);
}
.connect {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.connect i {
    margin: 5px;
}
.connect-icons {
    display: flex;
    justify-content: center;
    margin: 5px;
}

/* footer section */
footer .container{
    margin-top: 50px;
    padding: 0 25px;
    background: #000;
    border-top: 1px solid #8080803d;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.footer-logo {
    width: 250px;
    height: 200px;
    margin-right: 30px;
}
.footer-logo img {
    width: 100%;
}
.footer-links {
    display: flex;
    margin-top: 10px;
}
footer h4 {
    color: #40c27a;
    font-family: "Monomakh", serif;
}
.footer-links ul {
    list-style: none;
}
.footer-links li {
    margin: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-links a {
    color: white;
    text-decoration: none;
}
.footer-links ul li a:hover {
    color: #40c27a;
}
.footer-socials {
    display: flex;
    margin-top: 20px;
}
.footer-socials .social {
    font-size: 24px;
    margin: 0 10px;
    color: #40c27a;
    transition: 0.3s;
}
.footer-socials .social:hover {
    color: white;
}
.copyright {
    border-top: 1px solid #8080803d;
    padding: 15px 0;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
}
.copyright p {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
